:root {
  font-family: "Microsoft YaHei UI", serif;
  font-size: 14px;
  color: #333333;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.margin-12-right {
  margin-right: 12px;
}
.six-color {
  color: #666666;
}
.nine-color {
  color: #999999;
}
